.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form__layout {
    display: flex;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}
.form__panel {
    width: 35%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(230, 194, 248);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form__content {
    width: 100%;
    padding:  0 30px;
}
.form__content h2 {
    font-size: 2rem;
}
.form__content p {
    margin: 15px 0;
}
.form__content input {
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.form__content input:hover {
    background-color: #d4a5ec;
    transition: all 0.4s ease;
    color: rgb(255, 255, 255);
    border: solid thin rgba(255, 255, 255, 0.7);
}
.form__panel-register {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form__register-panel {
    padding: 0 30px;
}
.form__register-panel h2 {
    font-size: 2rem;
}
.form__social-icons {
    margin: 15px;
}
.form__social-icons i {
    font-size: 1em;
    border-radius: 50%;
    padding: 10px;
    margin: 0 8px;
    border: solid thin #79508a;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.form__social-icons i:hover {
    color: #d4a5ec;
    border: solid thin #d4a5ec;
}
.form__form {
    margin-top: 20px;
}
.form__form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.6);
}
.form__form label input {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 12px;
}
.form__form .form__submit {
    background-color: #d4a5ec;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 12px 35px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.form__form .form__submit:hover {
    background-color:rgba(255, 255, 255, 0.6);
    color: #79508a;
    transition: all 0.4s ease;
}
.form__layout-hide {
    display: none;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modal-overlay.active {
    display: flex;
}
.modal-content {
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    /* overflow-y: auto; */
} 
.close-modal {
    position: absolute;
    top: 250px;
    right: 50px;
    font-size: 3rem;
    cursor: pointer;
}

/* @media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
}
@media screen and (max-width:700px) {
    html {
        font-size: 15px;
    }   
    .form__layout {
        height: auto;
        flex-direction: column;
    }
    .form__panel {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form__panel-register {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
} */